.wrapper {
    width: 1300px;
}
.basket {
    float: right;
    padding-top: 40px;
}
.basket li {
    display: inline-block;
    list-style: none;
}
.basket a {
    padding-right: 30px;
    padding-left: 20px;
}
.logo {
    float: left;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 150px;
}
.logo:hover {
    fill: #303030;
}
.logo:active {
    fill: #a6a6a6;
}
nav ul li {
display: inline-block;
text-align: center;
}
nav a {
    padding-right: 40px;
}
nav ul {
    padding-top: 60px;
}
header li a {
    text-decoration: none;
    color: black;
}
header li a:hover {
    color: #ff5263;
}
header li a:active {
    color: #b9b9b9;
}
header li a:focus {
    color: #030303;
    border-bottom: 2px solid #e74246;
}
header {
    background-color: #eeeeee;
    width: 1300px;
    height: 110px;
}
.wrapper-slider {
    background-color: #eeeeee;
    width: 1300px;
    height: 430px;
}
.wrapper-slider h1 {
    margin-top: 0px;
}
.left {
    padding-left: 120px;
    padding-top: 50px;
}
.left h1 {
    font-size: 45px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 500;
}
.left button {
    color: white;
    background: #fb5559;
    height: 50px;
    width: 200;
    border: 1px solid  #fb5559;
    border-radius: 3px; 
}
.left button:hover {
    color: white;
    background: #e74246;
    border: 1px solid  #e74246;
    border-radius: 3px;
}
.left button:active {
    color: #e37375;
    background: #d7363a;
    border: 1px solid  #d7363a;
    border-radius: 3px;
}
.wrapper-slider img {
    position: relative; 
}
.one {
    padding-right: 100px;
    padding-top: 19px;
}
.two {
    height: 430px;
    padding-right: 50px;
}
.three {
    width: 750px;
    padding-top: 47px;
    padding-right: 70px;
}
.left {
    float: left;
}
.radiobutton {
    position: absolute;
    padding-left: 500px;
    padding-top: 320px;
}
.sliders {
    display: none;
}
article img {
    float: right;
}
button {
    color: white;
    background: #fb5559;
    border: 1px solid  #fb5559;
    border-radius: 3px; 
}
button:hover {
    color: white;
    background: #e74246;
    border: 1px solid  #e74246;
    border-radius: 3px;
}
button:active {
    color: #e37375;
    background: #d7363a;
    border: 1px solid  #d7363a;
    border-radius: 3px;
}
section {
    margin-top: 60px;
}
section ul li {
    list-style: none;
    display: inline-block;
}
section ul {
    margin-left: 120px;
    padding-left: 0px;
}
section li {
    padding-right: 70px;
}
.red {
    color: #fff;
    background-color: #fb5559;
    border: 1px solid #fb5559;
    border-radius: 3px;
    height: 40px;
    width: 130px;
}
.red:hover {
    color: #fff;
    background-color: #e74246;
    border: 1px solid #e74246;
    border-radius: 3px;
    height: 40px;
    width: 130px;
}
.red:active {
    color: #fa464a;
    background-color: #d7363a;
    border: 1px solid #d7363a;
    border-radius: 3px;
    height: 40px;
    width: 130px;
}
.green {
    color: #fff;
    background-color: #00ca74;
    border: 1px solid #00ca74;
    border-radius: 3px;
    height: 40px;
    width: 130px;
}
.green:hover {
    color: #fff;
    background-color: #00bc6b;
    border: 1px solid #00bc6b;
    border-radius: 3px;
    height: 40px;
    width: 130px;
}
.green:active {
    color: #03c773;
    background-color: #00aa61;
    border: 1px solid #00aa61;
    border-radius: 3px;
    height: 40px;
    width: 130px;
}
.yellow {
    color: #fff;
    background-color: #efc749;
    border: 1px solid #efc749;
    border-radius: 3px;
    height: 40px;
    width: 130px;
}
.yellow:hover {
    color: #fff;
    background-color: #eab434;
    border: 1px solid #eab434;
    border-radius: 3px;
    height: 40px;
    width: 130px;
}
.yellow:active {
    color: #f8bd3f;
    background-color: #e5a722;
    border: 1px solid #e5a722;
    border-radius: 3px;
    height: 40px;
    width: 130px;
}
.studionerds {
    margin-top: 60px;
    border-top: 2px solid #eae7e7;
}
.studio {
    padding-left: 120px;
    padding-top: 60px;
}
.studio ul {
    padding-left: 0px;
}
.studio h2 {
    font-size: 40px;
    color: #000000;
    font-family: "Roboto""Helvetica","Arial","sans-serif";
}
.studio p {
font-size: 16px;
color: #283136;
font-family: "Roboto""Helvetica","Arial","sans-serif";
}
.studio li {
font-size: 16px;
line-height: 24px;
color: #000000;
font-family: "Roboto", "Helvetica","Arial","sans-serif";
}
.accuracy {
    float: right;
    padding-right: 100px;
    padding-top: 50px;
}
.accuracy ul li {
    list-style: none;
    display: inline-block;
}
.accuracy li {
    padding-left: 20px;
}
.partners {
    margin-top: 100px;
    border-top: 2px solid #eae7e7;
    border-bottom: 2px solid #eae7e7;
}
.partners ul li {
    display: inline-block;
    list-style: none;
}
.partners a {
    opacity: 0.4;
}
.partners a:hover {
    opacity: 1;
}
.partners a:active {
    opacity: 0.2; 
}
.partners ul {
    padding-left: 50px;
}
.partners a {
    padding-right: 50px; 
    padding-left: 50px;
}
.pat-s::after { content: "";
    width: 3px; 
    height: 50px; 
    background-color: #d1d1d1;
}
.patrn-s::after { content: "";
    width: 3px; 
    height: 50px; 
    background-color: #d1d1d1;
}
.patrn-s::after {
    position: absolute;
    margin-top: 37px;
}
.pat-s::after {
    position: absolute;
}
.socialicons {
    float: left;
    margin-right: 120px;
}
.text {
    position: absolute;
}
.text {
    background: #fff;
    height: 250px;
    width: 300px;
    text-align: center;
    margin-left: 70px;
    margin-top: 50px;
    padding-top: 20px;
}
.text button {
    color: white;
    background: #fb5559;
    height: 50px;
    width: 200;
    border: 1px solid  #fb5559;
    border-radius: 3px; 
}
.text button:hover {
    color: white;
    background: #e74246;
    border: 1px solid  #e74246;
    border-radius: 3px;
}
.text button:active {
    color: #e37375;
    background: #d7363a;
    border: 1px solid  #d7363a;
    border-radius: 3px;
}
.map {
    margin-top: 60px;
}
footer {
    background: white;
    height: 220px;
    margin-top: 60px;
}
footer ul li {
    display: inline-block;
    list-style: none;
}
.socialicons ul {
    float: left;
}
.vk_link {
    padding: 18px 18px 18px 13px;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
      -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.fb_link {
    padding: 22px 22px 16px 22px;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.insta_link {
    padding: 20px 20px 18px 16px;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.vk_link:hover {
    padding: 18px 18px 18px 13px;
    background-color: #e74246;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
      -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.fb_link:hover {
    padding: 22px 22px 16px 22px;
    background-color: #e74246;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.insta_link:hover {
    padding: 20px 20px 18px 16px;
    background-color: #e74246;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.vk_link:active {
    padding: 18px 18px 18px 13px;
    background-color: #d7363a;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
      -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.fb_link:active {
    padding: 22px 22px 16px 22px;
    background-color: #d7363a;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.insta_link:active {
    padding: 20px 20px 18px 16px;
    background-color: #d7363a;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.vk:active {
      fill: #ff5263;
  }
.fb:active {
    fill: #ff5263;
}
.insta:active {
    fill: #ff5263;
}